# ===== Python =====
venv/
.venv/
env/
__pycache__/
*.py[cod]

# ===== Environment =====
.env
.env.*

# ===== Logs =====
*.log

# ===== Data files (ignore only file types, not the folder) =====
*.csv
*.xlsx
*.parquet
*.shp
*.dbf
*.shx
*.prj
*.fix

# ===== Build =====
dist/
build/
*.egg-info/

# ===== Coverage =====
.coverage
htmlcov/

# ===== IDE =====
.vscode/
.idea/
.DS_Store
Thumbs.db
